@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  /*maybe big screens padding: 3rem;*/ }

body {
  font-family: "Montserrat", "Questrial", sans-serif; }

.heading-primary--main {
  color: white;
  font-weight: 800;
  font-size: 1.7em; }

.heading-primary--sub {
  color: #F8ED3F;
  font-family: 'Just Another Hand', cursive;
  letter-spacing: 0.03em;
  font-size: 4rem; }
  @media screen and (orientation: landscape) {
    .heading-primary--sub {
      transform: scale(1.2, 1);
      transform-origin: left; } }

.heading-primary--description {
  color: white;
  font-size: 1.6rem;
  font-weight: 500; }

.heading-secondary {
  font-size: 4rem;
  letter-spacing: 0.05em;
  font-weight: 900;
  text-transform: uppercase; }

.heading-tertiary {
  font-family: 'Just Another Hand', cursive;
  letter-spacing: 0.03em;
  transform: scale(1.2, 1);
  font-size: 2.5rem;
  transform: scale(1.2, 1);
  transform-origin: left; }
  .heading-tertiary-2 {
    transform-origin: center; }

.text {
  font-size: 1.3rem; }

.href-link,
.href-link:focus,
.href-link:active,
.href-link:visited {
  text-decoration: none;
  color: black;
  display: inline-block;
  transition: .2s all; }

.href-link:hover {
  font-size: 1.5rem;
  transform: rotate(4deg); }

.u-center-text {
  text-align: center; }

.u-center-mobile-left-desktop {
  text-align: center; }
  @media screen and (min-width: 600px) {
    .u-center-mobile-left-desktop {
      text-align: left; } }

.u-center-mobile-right-desktop {
  text-align: center; }
  @media screen and (min-width: 600px) {
    .u-center-mobile-right-desktop {
      text-align: right; } }

.u-display-block {
  display: block; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: black;
  border-color: black;
  float: right;
  font-weight: 700;
  transition: .2s all; }

.btn-primary:hover {
  background-color: #24A349;
  border-color: #24A349;
  font-size: 1.5rem;
  transform: rotate(-4deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.form-control {
  border-color: rgba(36, 163, 72, 0.301); }

.ul-list {
  counter-reset: section;
  list-style: none; }

.list-item {
  margin: 0 0 10px 0;
  line-height: 3rem; }

.list-item:before {
  content: counter(section);
  counter-increment: section;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin: 0 1rem 0 0;
  border-radius: 100%;
  text-align: center;
  background-color: #24A349;
  color: white;
  font-weight: 700;
  font-size: 1.5rem; }

.footer {
  background-color: #EAE8D7;
  bottom: 0;
  height: 5vh;
  display: flex; }
  .footer__copy {
    text-align: center;
    margin: auto;
    font-size: 70%; }

.header {
  height: 95vh;
  width: 100vw;
  display: inline-block;
  text-align: center;
  background-color: black;
  background-image: url(../../images/LesleyPic2-min.jpg);
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 1.2rem; }
  @media screen and (orientation: landscape) {
    .header {
      display: table-cell;
      vertical-align: middle;
      text-align: left;
      padding-left: 3rem;
      background-size: 75vh;
      background-position-x: 90%; } }

@media screen and (orientation: landscape) {
  .heading-primary {
    text-align: left;
    width: 50vw; } }

@media screen and (orientation: landscape) {
  .heading-primary--sub {
    padding-left: 4.2px; }
  .heading-primary--description {
    width: 50vw; } }

.hr {
  /*top right bottom left;*/
  margin: .9rem auto 1.1rem auto;
  border-top: none;
  border: 3px solid #24A349;
  width: 25%;
  border-radius: 3px; }
  @media screen and (orientation: landscape) {
    .hr {
      margin: .9rem 1rem 1.1rem .05rem; } }

.navbar-nav {
  text-transform: uppercase;
  color: black;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  background-color: rgba(255, 255, 255, 0.9); }

.nav-item__icon-image {
  color: white;
  filter: invert(0.5);
  width: 2rem;
  height: 2rem;
  margin: .7rem;
  cursor: pointer; }

.navbar-nav {
  display: flex; }

.nav-item {
  margin: auto; }

.section-about {
  margin: 0 auto;
  margin-bottom: 12rem; }
  @media screen and (min-width: 600px) {
    .section-about {
      margin-bottom: 0; } }

.devicons-block {
  text-align: center;
  border: 1px solid #24A349;
  border-radius: 2px;
  padding: 1rem;
  text-align: center;
  max-width: 80vw;
  margin: 2rem auto;
  /*@media screen and (min-width: 600px) {
        margin: 2rem;
    }*/ }
  .devicons-block__icon-image {
    margin: .6rem;
    width: auto;
    height: 2.7rem; }
    .devicons-block__icon-image--bigger-1 {
      width: auto;
      height: 3rem; }
    .devicons-block__icon-image--bigger-2 {
      width: auto;
      height: 5rem; }
  .devicons-block__and-more {
    background-color: #D9D6B7;
    position: relative;
    bottom: -20px;
    height: 4rem;
    width: 30%;
    margin: 0 auto;
    clip-path: polygon(0 4%, 100% 0, 94% 91%, 5% 100%); }
    @media screen and (min-width: 600px) {
      .devicons-block__and-more {
        width: 60%; } }

.section-projects {
  padding-top: 3rem;
  background-color: #EAE8D7; }

.section-contact {
  padding-top: 3rem; }

/*!
 *  Devicons 1.8.0 made by Theodore Vorillas / http://vorillaz.com 
 */
@font-face {
  font-family: 'devicons';
  src: url("../fonts/devicons.eot?xqxft6");
  src: url("../fonts/devicons.eot?#iefixxqxft6") format("embedded-opentype"), url("../fonts/devicons.woff?xqxft6") format("woff"), url("../fonts/devicons.ttf?xqxft6") format("truetype"), url("../fonts/devicons.svg?xqxft6#devicons") format("svg");
  font-weight: normal;
  font-style: normal; }

.devicons {
  font-family: 'devicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.devicons-git:before {
  content: ""; }

.devicons-git_compare:before {
  content: ""; }

.devicons-git_branch:before {
  content: ""; }

.devicons-git_commit:before {
  content: ""; }

.devicons-git_pull_request:before {
  content: ""; }

.devicons-git_merge:before {
  content: ""; }

.devicons-bitbucket:before {
  content: ""; }

.devicons-github_alt:before {
  content: ""; }

.devicons-github_badge:before {
  content: ""; }

.devicons-github:before {
  content: ""; }

.devicons-github_full:before {
  content: ""; }

.devicons-java:before {
  content: ""; }

.devicons-scala:before {
  content: ""; }

.devicons-python:before {
  content: ""; }

.devicons-go:before {
  content: ""; }

.devicons-ruby_on_rails:before {
  content: ""; }

.devicons-django:before {
  content: ""; }

.devicons-markdown:before {
  content: ""; }

.devicons-php:before {
  content: ""; }

.devicons-mysql:before {
  content: ""; }

.devicons-streamline:before {
  content: ""; }

.devicons-database:before {
  content: ""; }

.devicons-laravel:before {
  content: ""; }

.devicons-javascript:before {
  content: ""; }

.devicons-angular:before {
  content: ""; }

.devicons-backbone:before {
  content: ""; }

.devicons-coffeescript:before {
  content: ""; }

.devicons-jquery:before {
  content: ""; }

.devicons-modernizr:before {
  content: ""; }

.devicons-jquery_ui:before {
  content: ""; }

.devicons-ember:before {
  content: ""; }

.devicons-dojo:before {
  content: ""; }

.devicons-nodejs:before {
  content: ""; }

.devicons-nodejs_small:before {
  content: ""; }

.devicons-javascript_shield:before {
  content: ""; }

.devicons-bootstrap:before {
  content: ""; }

.devicons-sass:before {
  content: ""; }

.devicons-css3_full:before {
  content: ""; }

.devicons-css3:before {
  content: ""; }

.devicons-html5:before {
  content: ""; }

.devicons-html5_multimedia:before {
  content: ""; }

.devicons-html5_device_access:before {
  content: ""; }

.devicons-html5_3d_effects:before {
  content: ""; }

.devicons-html5_connectivity:before {
  content: ""; }

.devicons-ghost_small:before {
  content: ""; }

.devicons-ghost:before {
  content: ""; }

.devicons-magento:before {
  content: ""; }

.devicons-joomla:before {
  content: ""; }

.devicons-jekyll_small:before {
  content: ""; }

.devicons-drupal:before {
  content: ""; }

.devicons-wordpress:before {
  content: ""; }

.devicons-grunt:before {
  content: ""; }

.devicons-bower:before {
  content: ""; }

.devicons-npm:before {
  content: ""; }

.devicons-yahoo_small:before {
  content: ""; }

.devicons-yahoo:before {
  content: ""; }

.devicons-bing_small:before {
  content: ""; }

.devicons-windows:before {
  content: ""; }

.devicons-linux:before {
  content: ""; }

.devicons-ubuntu:before {
  content: ""; }

.devicons-android:before {
  content: ""; }

.devicons-apple:before {
  content: ""; }

.devicons-appstore:before {
  content: ""; }

.devicons-phonegap:before {
  content: ""; }

.devicons-blackberry:before {
  content: ""; }

.devicons-stackoverflow:before {
  content: ""; }

.devicons-techcrunch:before {
  content: ""; }

.devicons-codrops:before {
  content: ""; }

.devicons-css_tricks:before {
  content: ""; }

.devicons-smashing_magazine:before {
  content: ""; }

.devicons-netmagazine:before {
  content: ""; }

.devicons-codepen:before {
  content: ""; }

.devicons-cssdeck:before {
  content: ""; }

.devicons-hackernews:before {
  content: ""; }

.devicons-dropbox:before {
  content: ""; }

.devicons-google_drive:before {
  content: ""; }

.devicons-visualstudio:before {
  content: ""; }

.devicons-unity_small:before {
  content: ""; }

.devicons-raspberry_pi:before {
  content: ""; }

.devicons-chrome:before {
  content: ""; }

.devicons-ie:before {
  content: ""; }

.devicons-firefox:before {
  content: ""; }

.devicons-opera:before {
  content: ""; }

.devicons-safari:before {
  content: ""; }

.devicons-swift:before {
  content: ""; }

.devicons-symfony:before {
  content: ""; }

.devicons-symfony_badge:before {
  content: ""; }

.devicons-less:before {
  content: ""; }

.devicons-stylus:before {
  content: ""; }

.devicons-trello:before {
  content: ""; }

.devicons-atlassian:before {
  content: ""; }

.devicons-jira:before {
  content: ""; }

.devicons-envato:before {
  content: ""; }

.devicons-snap_svg:before {
  content: ""; }

.devicons-raphael:before {
  content: ""; }

.devicons-google_analytics:before {
  content: ""; }

.devicons-compass:before {
  content: ""; }

.devicons-onedrive:before {
  content: ""; }

.devicons-gulp:before {
  content: ""; }

.devicons-atom:before {
  content: ""; }

.devicons-cisco:before {
  content: ""; }

.devicons-nancy:before {
  content: ""; }

.devicons-clojure:before {
  content: ""; }

.devicons-clojure_alt:before {
  content: ""; }

.devicons-perl:before {
  content: ""; }

.devicons-celluloid:before {
  content: ""; }

.devicons-w3c:before {
  content: ""; }

.devicons-redis:before {
  content: ""; }

.devicons-postgresql:before {
  content: ""; }

.devicons-webplatform:before {
  content: ""; }

.devicons-jenkins:before {
  content: ""; }

.devicons-requirejs:before {
  content: ""; }

.devicons-opensource:before {
  content: ""; }

.devicons-typo3:before {
  content: ""; }

.devicons-uikit:before {
  content: ""; }

.devicons-doctrine:before {
  content: ""; }

.devicons-groovy:before {
  content: ""; }

.devicons-nginx:before {
  content: ""; }

.devicons-haskell:before {
  content: ""; }

.devicons-zend:before {
  content: ""; }

.devicons-gnu:before {
  content: ""; }

.devicons-yeoman:before {
  content: ""; }

.devicons-heroku:before {
  content: ""; }

.devicons-debian:before {
  content: ""; }

.devicons-travis:before {
  content: ""; }

.devicons-dotnet:before {
  content: ""; }

.devicons-codeigniter:before {
  content: ""; }

.devicons-javascript_badge:before {
  content: ""; }

.devicons-yii:before {
  content: ""; }

.devicons-msql_server:before {
  content: ""; }

.devicons-composer:before {
  content: ""; }

.devicons-krakenjs_badge:before {
  content: ""; }

.devicons-krakenjs:before {
  content: ""; }

.devicons-mozilla:before {
  content: ""; }

.devicons-firebase:before {
  content: ""; }

.devicons-sizzlejs:before {
  content: ""; }

.devicons-creativecommons:before {
  content: ""; }

.devicons-creativecommons_badge:before {
  content: ""; }

.devicons-mitlicence:before {
  content: ""; }

.devicons-senchatouch:before {
  content: ""; }

.devicons-bugsense:before {
  content: ""; }

.devicons-extjs:before {
  content: ""; }

.devicons-mootools_badge:before {
  content: ""; }

.devicons-mootools:before {
  content: ""; }

.devicons-ruby_rough:before {
  content: ""; }

.devicons-komodo:before {
  content: ""; }

.devicons-coda:before {
  content: ""; }

.devicons-bintray:before {
  content: ""; }

.devicons-terminal_badge:before {
  content: ""; }

.devicons-code_badge:before {
  content: ""; }

.devicons-mongodb:before {
  content: ""; }
