// FONT
$font-size-base: 16px;
$font-family-base: "Montserrat",
sans-serif;

// COLORS
$color-green: #24A349;
$color-green-light: rgba(36,
    163,
    72,
    0.301);
$color-green-dark: rgb(24, 136, 56);
$color-yellow: #F8ED3F;

$color-beige-light: #EAE8D7;
$color-beige-dark: #D9D6B7;


//NAVBAR
$navbar-height: 35px;

//FOOTER
$footer-height: 5vh;