.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: black;
    border-color: black;
    float: right;
    font-weight: 700;
    transition: .2s all;
}

.btn-primary:hover {
    background-color: $color-green;
    border-color: $color-green;
    font-size: 1.5rem;
    transform: rotate(-4deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}