.form-control {
    border-color: $color-green-light;
    margin: 0 auto;
    width: 90%;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover,
.btn-primary:visited {
    float: none !important;
    margin: 0 auto;
    display: block;

    @media screen and (min-width: 576px) {
        float: right !important;
    }
}