.ul-list {
    counter-reset: section;
    list-style: none;
}

.list-item {
    margin: 0 0 10px 0;
    line-height: 3rem;
}

.list-item:before {
    content: counter(section);
    counter-increment: section;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin: 0 1rem 0 0;
    border-radius: 100%;
    text-align: center;
    background-color: $color-green;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}