body {
    font-family: $font-family-base;
}


.heading-primary {

    &--main {
        color: white;
        font-weight: 800;
        font-size: 1.7em;
    }

    &--sub {
        color: $color-yellow;
        font-family: 'Just Another Hand', cursive;
        letter-spacing: 0.03em;
        font-size: 4rem;

        @media screen and (orientation: landscape) {
            transform: scale(1.2, 1);
            transform-origin: left;
        }
    }

    &--description {
        color: white;
        font-size: 1.6rem;
        font-weight: 500;
    }

}

.heading-secondary {
    font-size: 4rem;
    letter-spacing: 0.05em;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;

    @media screen and (min-width: 600px) {
        text-align: left;
    }
}

.heading-tertiary {
    font-family: 'Just Another Hand', cursive;
    letter-spacing: 0.03em;
    transform: scale(1.2, 1);
    text-align: center;
    font-size: 2.5rem;


    @media screen and (orientation: landscape) {
        transform: scale(1.2, 1);
        transform-origin: left;
        text-align: left;
    }
}

.paragraph {
    text-align: center;
    font-size: 1.3rem;

    @media screen and (min-width: 600px) {
        text-align: left;
    }
}