body {
    font-family: $font-family-base;
}


.heading-primary {

    &--main {
        color: white;
        font-weight: 800;
        font-size: 1.7em;
    }

    &--sub {
        color: $color-yellow;
        font-family: 'Just Another Hand', cursive;
        letter-spacing: 0.03em;
        font-size: 4rem;

        @media screen and (orientation: landscape) {
            transform: scale(1.2, 1);
            transform-origin: left;
        }
    }

    &--description {
        color: white;
        font-size: 1.6rem;
        font-weight: 500;
    }

}

.heading-secondary {
    font-size: 4rem;
    letter-spacing: 0.05em;
    font-weight: 900;
    text-transform: uppercase;
}


.heading-tertiary {
    font-family: 'Just Another Hand', cursive;
    letter-spacing: 0.03em;
    transform: scale(1.2, 1);
    font-size: 2.5rem;
    transform: scale(1.2, 1);
    transform-origin: left;

    &-2 {
        // for projects section
        transform-origin: center;
    }

    &-3 {
        transform-origin: center;

        @media screen and (min-width: 576px) {
            // for projects section
            transform-origin: left;
        }
    }

}


//the transform for just another hand font added extra white space in contact section so wrapped in a div with overflow hidden
.transform-fix {
    overflow: hidden;

    @media screen and (orientation: landscape) {
        overflow: visible;
    }
}



.text {
    font-size: 1.3rem;
}

.href-link,
.href-link:focus,
.href-link:active,
.href-link:visited {
    text-decoration: none;
    color: black;
    display: inline-block;
    transition: .2s all;
}

.href-link:hover {
    font-size: 1.5rem;
    transform: rotate(4deg);
}