body {
    font-family: "Montserrat", "Questrial", sans-serif;
}


.heading-primary {

    &--main {
        color: white;
        font-weight: 800;
        font-size: 1.7em;
    }

    &--sub {
        color: $color-yellow;
        font-family: 'Just Another Hand', cursive;
        letter-spacing: 0.03em;
        transform: scale(1.2, 1);
        font-size: 4rem;
    }

    &--description {
        color: white;
        font-size: 1.6rem;
        font-weight: 500;
    }

}