.section {
    min-height: calc(100vh - 48px);
    padding-top: 6rem;

    @media screen and (min-width: 576px) {
        padding-top: 10rem;
    }
}

.section-about {
    // height: 90vh;    padding-top: 3rem;
    margin: 0 auto;
    margin-bottom: 12rem;

    @media screen and (min-width: 576px) {
        margin-bottom: 0;
    }
}

.devicons-block {
    text-align: center;
    border: 1px solid $color-green;
    border-radius: 2px;
    padding: 1rem;
    text-align: center;
    max-width: 80vw;
    margin: 2rem auto;

    /*@media screen and (min-width: 600px) {
        margin: 2rem;
    }*/

    &__icon-image {
        margin: .6rem;
        width: auto;
        height: 2.7rem;

        &--bigger-1 {
            width: auto;
            height: 3rem;
        }

        &--bigger-2 {
            width: auto;
            height: 5rem;
        }
    }

    &__and-more {
        background-color: $color-beige-dark;
        position: relative;
        bottom: -20px;
        height: 4rem;
        width: 30%;
        margin: 0 auto;
        clip-path: polygon(0 4%, 100% 0, 94% 91%, 5% 100%);

        @media screen and (min-width: 600px) {
            width: 60%;
        }
    }
}

.section-projects {
    background-color: $color-beige-light;
    // height: 90vh;

}

// .section-contact {
//     // height: 90vh;
// }


.project-img {
    cursor: pointer;
}


.modal-image {
    width: 100%;
}