.section-about {
    height: 90vh;
    margin-top: 1rem;
}

.devicons-block {
    border: 1px solid $color-green;
    border-radius: 2px;
    padding: 1rem;

    &__icon-image {
        margin: .7rem;
        width: 2rem;
        height: 2rem;
        
        &--bigger-1 {
            width: 3rem;
            height: auto;
        }
        
        &--bigger-2 {
            width: 4rem;
            height: auto;
         }
    }
}